{%extends "layout.njk"%}

{%block header%}
<title>Editar Receita</title>
{%endblock%}

{%block content%}
<section> 

    <div class="recipe-header">
        <h1>Editando receita</h1>
        <button type="submit">Salvar receita</button>
        <a href="#">Deletar</a>
    </div>

    <div class="recipe-item">
        <div>Imagem da receita</div>
        <input type="url" name="image">
    </div>

    <div class="recipe-item">
        <div>Ingredientes</div>
        <input type="text" name="ingredients">
        <div><a href="#">Adicionar novo ingrediente</a></div>
    </div>

    <div class="recipe-item">
        <div>Modo de preparo</div>
        <input type="text" name="preparation">
        <div><a href="#">Adicionar novo passo</a></div>
    </div>

    <div class="recipe-item">
        <div>Informações adicionais</div>
        <textarea name="information" cols="30" rows="10"></textarea>
    </div>

</section>
{%endblock%}