<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    {%block header%}
    <title>Foodfy - Home</title>
    {%endblock%}
</head>
<body>

<header>
    <div>
        <a class="logo" href="/"><img src="/logo.png" alt="Foodfy logo"></a>
        <a href="/about">Sobre</a>
        <a href="/recipes">Receitas</a>
    </div>
</header>

{%block content%}
{%endblock%}

<div class="footer-box">
    <footer>
        <p>Todos os direitos reservados, receitas Foodfy. </p>
    </footer>
</div>

{% block script %}
{% endblock script %}

<script src="/header-script.js"></script>

</body>
</html>