{%extends "layout.njk"%}

{%block header%}
<title>Criar Receita</title>
{%endblock%}

{%block content%}
<section> 

    <form method="POST" action="/admin/recipes">

        <div class="recipe-header">
            <h1>Criando receita</h1>
            <span>
                <button type="submit">Salvar receita</button>
            </span>
        </div>

        <div class="recipe-item">
            <div>Imagem da receita</div>
            <input type="url" name="image" placeholder="http://">
        </div>

        <div class="recipe-item">
            <div>Título da receita</div>
            <input type="text" name="title" placeholder="Escreva o nome da receita">
        </div>

        <div class="recipe-item">
            <div>Autor</div>
            <input type="text" name="author" placeholder="Escreva o nome do autor da receita">
        </div>

        <div class="recipe-item">
            <div>Ingredientes</div>
            <div class="input-box-ingredients">
                <input type="text" name="ingredients[]" value="" placeholder="Insira um ingrediente">
            </div>
            <div>
                <button id="add-ingredient" type="button" class="add-input">Adicionar novo ingrediente</button>
            </div>
        </div>

        <div class="recipe-item">
            <div>Modo de preparo</div>
            <div class="input-box-steps">
                <input type="text" name="preparation[]" value="" placeholder="Insira um passo">
            </div>
            <div>
                <button id="add-step" type="button" class="add-input">Adicionar novo passo</button>
            </div>
        </div>

        <div class="recipe-item">
            <div>Informações adicionais</div>
            <textarea name="information" cols="30" rows="10"></textarea>
        </div>

    </form>

</section>
{%endblock%}

{% block script %}
<script src="/create-edit.js"></script>
{% endblock script %}