{%extends "layout.njk"%}

{%block header%}
<title>Editar Chef</title>
{%endblock%}

{%block content%}
<section> 

    <form method="POST" action="/admin/chefs/{{chef.id}}?_method=PUT">

        <div class="recipe-header">
            <h1>Editando Chef</h1>
            <span>
                <button id="form-delete" type="submit" formaction="/admin/chefs/{{chef.id}}?_method=DELETE">Deletar</button>
                <button type="submit">Atualizar</button>
            </span>
        </div>

        <div class="recipe-item">
            <div>Nome</div>
            <input type="text" name="name" value="{{chef.name}}" placeholder="Escreva o nome do chef">
        </div>

        <div class="recipe-item">
            <div>Avatar</div>
            <div class="input-container">
                <input id="input-chef-avatar" type="file" name="photos" accept="image/*">
                <p id="select-chef-avatar-button">Selecionar</p>
            </div>
        </div>

        <input type="hidden" name="id" value="{{chef.id}}">
        <input class="total-recipes" type="hidden" name="total_recipes" value="{{chef.total_recipes}}">

    </form>

</section>
{%endblock%}

{% block script %}
<script src="/scripts/deletion-confirmation.js"></script>
{% endblock script %}