{%extends "layout.njk"%}

{%block header%}
<title>Gerenciador de Receitas</title>
{%endblock%}

{%block content%}
<section>

    <div class="user-header">
        <h1>Gerenciar receitas</h1>
        <span>
            <a href="/admin/recipes/create">Novo</a>
        </span>
    </div>

    <div class="admin-recipe-list">
        
       {%for recipe in recipes%}
            {% if recipe.title %}
                <div class="recipe" id="{{recipe.recipe_id}}">
                    <img src="{{recipe.path}}" alt="Imagem de {{recipe.title}}">
                    <div>
                        <h3>{{recipe.title}}</h3>
                        <p>{{recipe.author}}</p>
                        <a href="/admin/recipes/{{recipe.recipe_id}}">Vizualizar</a>
                    </div>
                </div>
            {% endif %}
        {%endfor%}

    </div>
</section>

{%endblock%}