{%extends "layout.njk"%}

{%block header%}
<title>Cadastrar Usuário</title>
{%endblock%}

{%block content%}
<section> 

    <form method="POST" action="/admin/users">

        <div class="recipe-header">
            <h1>Cadastrar Usuário</h1>
            <span>
                <a href="/admin/users">Cancelar</a>
                <button type="submit">Cadastrar</button>
            </span>   
        </div>

        <div class="recipe-item">
            <div>Nome</div>
            <input type="text" name="name" placeholder="Digite o nome completo">
        </div>

        <div class="recipe-item">
            <div>Email</div>
            <input type="text" name="email" placeholder="Digite o email">
        </div>

        <div class="checkbox-item">
            <div>
                <input type="checkbox" name="admin"> Administrador
            </div>
        </div>

    </form>

</section>
{%endblock%}