{%extends "layout.njk"%}

{%block header%}
<title>Gerenciador de Receitas</title>
{%endblock%}

{%block content%}
<section>

    <div class="chef">
        <div class="chef-header">
            <h3>Chef: {{chef_information.name}}</h3>
            <a href="/admin/chefs/{{chef_information.chefid}}/edit">Editar Chef</a>
        </div>
        <div class="chef-profile">
            <div class="avatar" style="background: url('{{chef_information.avatar_url}}') no-repeat center center / cover"></div>
            <h1>{{chef.name}}</h1>
            <p> 
                {% if chef.length > 1 %}
                {{chef.length}} receitas cadastradas
                {% elif chef_information.chef_id %}
                1 receita cadastrada
                {% else %}
                Nenhuma receita cadastrada
                {% endif %}
            </p>
        </div>
    </div>

    <h1>Receitas</h1>

    <div class="admin-recipe-list">
        
    {% if chef_information.chef_id %}
       {%for recipe in chef%}
            <div class="recipe" id="{{recipe.recipe_id}}">
                <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
                <div>
                    <h3>{{recipe.title}}</h3>
                    <p>{{recipe.author}}</p>
                    <a href="/admin/recipes/{{recipe.recipe_id}}">Vizualizar</a>
                </div>
            </div>
        {%endfor%}
    {% endif %}

    </div>
</section>

{%endblock%}