{%extends "layout.njk"%}

{%block header%}
<title>Usuário</title>
{%endblock%}

{%block content%}
<section> 

    <form method="POST" action="/admin/profile?_method=PUT">

        <div class="recipe-header">
            <h1>Atualizar Usuário</h1>
            <span>
                <button type="submit">Atualizar</button>
            </span> 
        </div>

        <div class="recipe-item">
            <div>Nome</div>
            <input type="text" name="name" placeholder="Digite o nome completo" value="{{user.name}}">
        </div>

        <div class="recipe-item">
            <div>Email</div>
            <input type="text" name="email" placeholder="Digite o email" value="{{user.email}}">
        </div>

        <div class="checkbox-item">
            <div>
                <input type="checkbox" name="admin" {% if user.admin == true %}
                checked
                {% endif %}
                > Administrador
            </div>
        </div>

        <div class="recipe-item">
            <div>Senha</div>
            <input type="password" name="password" placeholder="Digite sua senha para atualizar seu cadastro">
        </div>

        <input type="hidden" name="id" value="{{user.id}}">
    </form>

</section>
{%endblock%}