{%extends "layout.njk"%}

{%block header%}
<title>Chefs do Foodfy</title>
{%endblock%}

{%block content%}
<section>

    <h1>Chefs do Foodfy</h1>

    <div class="list">
        {% for chef in chefs %}
            <div class="card" id="{{chef.id}}">
                <img src="{{chef.path}}" alt="Imagem de {{chef.name}}">
                <div>
                    <p>{{chef.name}}</p>
                    <a href="/chefs/{{chef.id}}">Vizualizar</a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

<script src="/scripts/script.js"></script>
{%endblock%}