{%extends "layout.njk"%}

{%block header%}
<title>Recipes</title>
{%endblock%}

{%block content%}
<section>
    <div class="recipe-list">
        
       {%for recipe in recipes%}
            <div class="recipe" id="{{recipe.recipe_id}}">
                <img src="{{recipe.path}}" alt="Imagem de {{recipe.title}}">
                <h3>{{recipe.title}}</h3>
                <p>{{recipe.author}}</p>
            </div>
        {%endfor%}

    </div>
</section>

<div class="pagination" 
    data-filter="{{filter}}"
    data-page="{{pagination.page}}"
    data-total="{{pagination.total}}"></div>

<script src="/script.js"></script>
{%endblock%}