{%extends "layout.njk"%}

{%block header%}
<title>Gerenciador de Receitas</title>
{%endblock%}

{%block content%}
<section>

    <div class="chef">
        <div class="chef-header">
            <h3>Chef: {{chef.name}}</h3>
        </div>
        <div class="chef-profile">
            <div class="avatar" style="background: url('{{chef.path}}') no-repeat center center / cover"></div>
            <h1>{{chef.name}}</h1>
            <p> 
                {% if chef_recipes.length > 1 %}
                {{chef_recipes.length}} receitas cadastradas
                {% elif recipe_id and chef_recipes.length == 1 %}
                1 receita cadastrada
                {% else %}
                Nenhuma receita cadastrada
                {% endif %}
            </p>
        </div>
    </div>

    <h1>Receitas</h1>

    <div class="admin-recipe-list">
        
    {% if chef.name and chef_recipes.length >= 1 %}
       {%for recipe in chef_recipes%}
            {% if recipe.recipe_id %}
            <div class="recipe" id="{{recipe.recipe_id}}">
                <img src="{{recipe.path}}" alt="Imagem de {{recipe.title}}">
                <div>
                    <h3>{{recipe.title}}</h3>
                    <a href="/recipes/{{recipe.recipe_id}}">Vizualizar</a>
                </div>
            </div>
            {% endif %}
        {%endfor%}
    {% endif %}

    </div>
</section>

{%endblock%}